* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    border: 2px solid red;
}

h1 {
    margin: 16px 0px;
    text-align: center;
    font-size: 48px;
    color:chartreuse;
}

#status {
    height: 250px;
    width: 80%;
    margin: 16px auto;
}

#counter {
    width: 50%;
    height: 50px;
    color: greenyellow;
    font-size: 36
}

#rock {
    width: 150px;
    height: 150px;
    background-color: pink;
}

#paper {
    width: 150px;
    height: 150px;
    background-color: pink;
}

#scissors {
    width: 150px;
    height: 150px;
    background-color: pink;
}

.buttonContainer {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.onPress {
    scale: 1.1;
    transition:
}