* {
    background-color: black;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    border: 2px solid red;
}

h1 {
    margin: 16px 0px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 48px;
    color:chartreuse;
}

#status {
    display: flex;
    flex: 1 1 0;
    height: 300px;
    width: 80%;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    color: blueviolet;
    margin: 16px auto;
    text-align: center;
}

#statusBox {
    border: none;
}

.counterContainer {
    display: flex;
    margin: 16px auto;
    justify-content: center;
    width: 60%;

}

.counter {
    display: flex;
    flex: auto;
    width: 25%;
    height: 50px;
    color: greenyellow;
    font-size: 36px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

 

#buttonContainer {
    display: flex;
    width: 80%;
    margin: 16px auto;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.rpsButton {
    font: bold 24px black;
    width: 150px;
    height: 150px;
    background-color: greenyellow;
    border: 4px solid red;
    transition-duration: 200ms;
}

.playerSelect {
    background-color:blue;
    scale: 1.2;
}

.botSelect {
    background-color: rgba(231, 7, 7, 0.925);
    scale: 1.2;
}

.eachSelect {
    background-color: purple;
    scale: 1.2;
}

.restartButton {
    display: flex;
    width: 50%;
    height: 100px;
    margin: 16px auto;
    justify-content: center;
    align-items: center;
    background-color:rgb(29, 46, 46);
    color:  darkorange;
    font: 24px bold;
}
/* ***DO THIS LATER FOR BUTTON ANIMATION***
.onPress { 
    scale: 1.1;
} */